<form action="/cool_url" method="get">
  Are you coming?<br>
  <input type="radio" name="group1" value="yes" checked> Yes<br>
  <input type="radio" name="group1" value="no"> No<br>
  <input type="radio" name="group1" value="maybe"> Maybe<br><br>
  What food do you want?<br>
  <input type="radio" name="group2" value="pizza"> Pizza<br>
  <input type="radio" name="group2" value="tacos"> Tacos<br>
  <input type="radio" name="group2" value="beer"> Beer<br>
  Comments:<br>
  <textarea name="message">default text</textarea>
  <input type="submit" value="Send info!">
</form>
<br>
Which cities have you lived in?
<form action="/cool_url" method="get">
  <input type="checkbox" name="1" value="SF"> SF<br>
  <input type="checkbox" name="2" value="NYC"> NYC<br>
  <input type="checkbox" name="3" value="DC"> DC<br>
  <input type="submit">
</form>
<br>
Which city is the best?
<form action="/cool_url" method="get">
  <select name="city">
    <option value="SF">SF</option>
    <option value="NYC">NYC</option>
    <option value="DC">DC</option>
  </select>
  <input type="submit">
</form>